@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

body {
	background-color: #eeeeee;
	font-size: 0.875rem;
	position: center;
}

/* ------------------------------------------- */
/* .header contains the div >img.cover-img and div.title-typed */
.header {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 0.8rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.header {
		margin-left: 0.8rem;
		margin-right: 0.8rem;
		height: 35rem;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.header {
		height: 38rem;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.header {
		height: 48rem;
	}
}

.projects-title,
.about-me-title {
	font-family: 'Fondamento', cursive;
}

/* ------------------------ */
/* Typed CSS */
.typed-box {
	text-align: left;
	padding: 10px;
	min-width: 280px;
	max-width: 450px;
	min-height: 100px;
	/* height: 200px; */
	box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, .2);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .85);
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
}

@media (min-width: 992px) {
	.typed-box {
		min-height: 120px;
		font-size: 1.6rem;
	}
}

span.typed {
	font-size: 1.5rem;
	text-align: left;
	/* font-weight: 100; */
	/* margin-bottom: 10px; */
	/* text-transform: uppercase; */
	/* text-decoration: blanchedalmond; */
	color: rgb(255, 255, 255);
	/* text-shadow: -2px 0px 0px #6b6b6b; */
	font-family: monospace;
}

@media (min-width: 992px) {
	span.typed {
		font-size: 1.6rem;
	}
}

.typed-cursor {
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* ------------------------ */

/* -------------------------------------- */
/* CSS pre-processor spinner */
.spinner-wrapper {
	position: center;
	top: 48%;
	left: 48%;
	/* right: 0;
	bottom: 0; */
	/* background-color: #eeeeee; */
	background-color: #eeeeee;
	z-index: 999999;
}

.spinner {
	position: absolute;
	top: 48%;
	left: 48%;
}

.cube1,
.cube2 {
	background-color: rgb(26, 26, 26);
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
	animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
	25% {
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	}
	50% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	}
	75% {
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}

@keyframes sk-cubemove {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	}
	50% {
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	}
	50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	}
	75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}
	100% {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}
/* -------------------------------------- */

.cover-img {
	width: 280px;
	border-radius: 0.7rem;
	/* position: right; */
	/* Neomorphism */
	box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1), 12px 12px 12px 0 rgba(0, 0, 0, .6);
}

@media (min-width: 768px) {
	.cover-img {
		width: 300px;
	}
}

@media (min-width: 992px) {
	.cover-img {
		/* height: 480px; */
		width: 340px;
	}
}

/* End of header section */
/* ----------------------------------------------- */

/* :horizontal-line */
/* hr {
	border-top: 3px double #333;
	color: #333;
	text-align: center;
	height: 5px;
}

hr:after {
	background: #fff;
	content: '§';
	position: relative;
	top: -13px;
} */

/* End of horizontal-line */

/* Projects */
.projects {
	background: gainsboro;
	border-radius: 15px;
	padding: 15px;
	box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.3), -2px -2px 4px 0 rgba(0, 0, 0, 0.3);
	-ms-transform: scale(1); /* IE 9 */
	-webkit-transform: scale(1); /* Safari 3-8 */
	transform: scale(1);
	transition: transform .5s ease-out;
}

.projects .card {
	-ms-transform: scale(1); /* IE 9 */
	-webkit-transform: scale(1); /* Safari 3-8 */
	transform: scale(1);
	transition: transform .5s ease-out;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 15px 0 rgba(0, 0, 0, 0.11);
}

.projects .card:hover {
	-ms-transform: scale(1.01); /* IE 9 */
	-webkit-transform: scale(1.01); /* Safari 3-8 */
	transform: scale(1.01);
	transition: transform .5s ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects > .card > .card-img-top {
	position: absolute;
	z-index: 1;
}

div.project-links a:hover {
	background-color: rgba(0, 128, 128, 0.3);
	color: black;
}

/* ----------------------------------------------- */
/* Main-content section */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.main-content {
		height: 44rem;
	}
}

#main-nav {
	box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, .3);
}

/* Main-nav content (home, experience, education, skills, projects, achievements) */
#nav-home,
#nav-education,
#nav-experience,
#nav-skills,
#nav-achievements {
	background-color: white;
	box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, .3);
}

/* Shadow around personal data div - Without Neomorphism */
.personalData {
	border-radius: 0.5em;
	box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.4);
	border-top: 1px solid rgba(0, 0, 0, .125);
	border-left: 1px solid rgba(0, 0, 0, .125);
}

/* Shadow around personal data div - With Neomorphism */
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.personalData {
		box-shadow: -4px -4px 6px 0 rgba(255, 255, 255, 1), 4px 4px 9px 0 rgba(0, 0, 0, 0.4);
		border-top: 0px;
		border-left: 0px;
	}
}

/* Shadow around image - Neomorphism */
.img-shadow {
	border-radius: 0.2em;
	box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8), 12px 12px 12px 0 rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------------------ */
/* Main nav styling for navbar and icons */
/* Main nav border -- Removes line under main navbar */
.main-nav {
	border-bottom: 0px;
}

/* Remove background colour and border of 
	main navbar's anchor tags when active */
.main-nav .nav-item.nav-link.active {
	background-color: unset;
	border: unset;
}

/* Remove background colour and border of main 
	navbar's anchor tags when active */
.main-nav .nav-link {
	border: unset;
}

/* Set cursor to default for anchor tag */
.main-nav > a:hover {
	cursor: default;
}
/* Set cursor to pointer for image element */
.main-nav > a > img:hover {
	cursor: pointer;
}

/* Setting background colour around main navbar icons when active */
.main-nav-icons.active img {
	background-color: #dfdbdfad;
	border: 2px solid transparent;
	border-radius: 0.5rem;
}
/*End of  Main nav styling for navbar and icons */
/* ------------------------------------------------------------------ */

/* home-items include career vision and journey so far, 
personality tags, languages and hobbies  */
.home-items:hover {
	background-color: #dfdbdfad;
	border-radius: 1rem;
	max-width: inherit;
}

.home-items figcaption {
	font-size: 0.78rem;
}

/*Zoom out animation for icons in personal data,
personality section,hobbies sections and skills section */
.personal-data-icons:hover,
.skills-icons:hover {
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3);
	transition: transform .5s ease-in-out;
}

.personal-data-icons,
.skills-icons {
	-ms-transform: scale(1); /* IE 9 */
	-webkit-transform: scale(1); /* Safari 3-8 */
	transform: scale(1);
	transition: transform .5s ease-out;
}

/* Education and Volunteering items */
div.education-items {
	border: 0px;
}

div.education-items:hover {
	background-color: #dfdbdfad;
	border-radius: 1rem;
}

/* Work and Volunteering Experience */
/* Medium screens and above */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: #dfdbdfad;
	border-radius: 1rem;
}

/* To allow the content to overflow and outside the set height 
hench scrollable. for eg. work at crossover */
#v-pills-tabContent {
	max-height: 15rem;
	overflow: auto;
}

/* Work and colunteering experieence - small and extra small screens */
.experience-items-xs-sm:hover,
.volunteer-items-xs-sm:hover {
	background-color: #dfdbdfad;
	border-radius: 1rem;
}

/* Skills */
div.skill-items {
	border: 0px;
}

div.skill-items:hover {
	background-color: #dfdbdfad;
	border-radius: 1rem;
}

/*Achievements */
div.achievement-section {
	border: 0px;
}

div.achievement-section tr:hover {
	background-color: #dfdbdfad;
	border-radius: 1rem;
}
/* End of Main-content section */
/* ----------------------------------------------- */
