body {
	background-color: #eeeeee;
	font-size: 0.875rem;
	position: center;
}

#nav-home {
	background-color: white;
}

.personalData-shadow {
	border-radius: 0.5em;
	box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1), 12px 12px 12px 0 rgba(0, 0, 0, .2);
}

.img-shadow {
	border-radius: 0.2em;
	box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8), 12px 12px 12px 0 rgba(0, 0, 0, .2);
}

nav > div > a {
	color: #17a2b8;
}

/* .language-table td {
	border-top: unset;
} */

/* home-items include career vision and journey so far, personality tags, languages and hobbies  */
.home-items:hover {
	background-color: #dfdbdfad;
	border-radius: 1rem;
	max-width: inherit;
}

.home-items figcaption {
	font-size: 0.78rem;
}

/*Zoom out animation for icons in personal data, personality and hobbies sections */
.icons:hover {
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3);
	transition: transform .5s ease-in-out;
}

.icons {
	-ms-transform: scale(1); /* IE 9 */
	-webkit-transform: scale(1); /* Safari 3-8 */
	transform: scale(1);
	transition: transform .5s ease-out;
}
