body {
	background-color: #eeeeee;
	font-size: 0.875rem;
	position: center;
}

#nav-home {
	background-color: white;
}

.personalData-shadow {
	border-radius: 0.5em;
	box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1), 12px 12px 12px 0 rgba(0, 0, 0, .2);
}

.img-shadow {
	border-radius: 0.2em;
	box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8), 12px 12px 12px 0 rgba(0, 0, 0, .2);
}

nav > div > a {
	color: #17a2b8;
}

/* .language-table td {
	border-top: unset;
} */

.language-name {
	width: 30%;
}

/* .language-tbody {
	border-top: unset;
} */
